__pycache__
cache/
dist/
tmp/
mplayer/
ext/
proxy_settings.txt
favorites.txt
party.txt
rock.txt
pop.txt
classical.txt
radio_*.txt
christmas.txt
password
sp_credentials
Consoleify.exe
Consoleify
OpenAL.dll
libspotify.lib
libspotify.dll
*.so
*.so.*
*.pem
